/* цвет основного текста #212121 */
/* вторичный цвет текста#757575 */
/* белый цвет текста #FFFFFF */
/* акцент #2196F3 */
/* основной цвет фона #FFFFFF*/
/* вторичный цвет фона #F5F4FA */

:root{
  --primary-text-color: #757575
  --title-text-color:  #212121
  --accent-color:#2196F3
  --background-color:#FFFFFF
  --
}
  

body{

    background-color:#FFFFFF ;
    color: #757575;
}
.list{
    list-style: none;
}



.logo-web{
    color: #2196F3;
}
.logo-studio{
    color: #000;
}

/* Site-nav */
.site-nav .link{
    color:#212121;

}

.site-nav .link:hover,
.site-nav .link:focus{
    color: #2196F3;
}

/* contacts */
.contacts .link{
    color: #757575;
}
.contacts .link:hover,
.contacts .link:focus{
    color: #2196F3
    ;
}
    

/* hero */
.hero-title{
    color: #FFFFFF;
}
/* section */
.section-title{
    color: #212121;
}

/* fuature */
.fuature-title{
    color:  #212121;
}