/* цвет основного текста #212121 */
/* вторичный цвет текста#757575 */
/* белый цвет текста #FFFFFF */
/* акцент #2196F3 */
/* основной цвет фона #FFFFFF*/
/* вторичный цвет фона #F5F4FA */
/* акцент заливки фона rgba(47, 48, 58, 0.8) */
/* фоновый цвет */
/* цвет строк адреса */
:root{
  --primary-text-color: #757575;
  --title-text-color:  #212121;
  --accent-color:#2196F3;
  --background-color:#FFFFFF;
  --accent-bg-color: rgba(47, 48, 58, 0.8);
  --background-footer: #2F303A;
  --text-adress-color: rgba(255, 255, 255, 0.6);
  --backgraund-second:#F5F4FA;

}

  

body{

    background-color: var(--background-color);
    color: var(--primary-text-color);
   font-family: Roboto, sans-serif;
   letter-spacing: 3%;
}

.list{
    list-style: none;
}
    
    
   




.logo-web{
    color: var(--accent-color);
font-size: 26px;
line-height: 1.2;
align-self: left;
vertical-align: top;

}
.logo-studio{
    color: var(--title-text-color);
font-size: 26px;
line-height: 1.2;
align-self: left;
vertical: top;
}

/* Site-nav */
.site-nav .link{
    color: var(--title-text-color);
    

font-size: 14px;
line-height: 1.2;
line-height: 100%;
align-self: left;
vertical-align: Top;
letter-spacing: 2%;

}

.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color) ;
}

/* contacts */
.contacts .link{
    color: var(--primary-text-color);
}
.contacts .link:hover,
.contacts .link:focus{
    color: var(--accent-color);

}
    

/* hero */
.hero-title{
    color: var(--background-color);
}

/* Button*/
.button{
    color: var(--background-color);
    background-color: var(--accent-color);

}
.button-second{
    color: var();


}
/* section */
.section-title{
    color: var(--title-text-color);
}

/* feature */
.feature-title{
    color: var(--title-text-color);
}
.feature .link{
    color: var(--title-text-color);
}
.button.primary{
    color: var(--background-color);
    background-color: var(--accent-bg-color);
}

/* our team */
.team-title{
    color: var(--title-text-color);
}
/* адресс */
footer{
    color: var(--background-footer);
}
.adress{
 color: var(--background-color);
}
.adress .link:hover,
.adress .link:focus{
    color: var(--background-color);
}
.adress .contacts{
    color: var(--text-adress-color);
}
/* сервис*/


.service-title{
    color: var(--title-text-color);

}
.button-second{
    color: var(--background-color);
    background-color: var(--accent-color);
}


/*  контент*/
.content-title{
    color: var(--title-text-color);
}
